.section {
  padding: 6rem 0;
}

.bgLight {
  background-color: var(--section);
}

.bgDark {
  background: var(--primary-gradient);
  color: var(--white);
}

.bgDark h1,
.bgDark h2, 
.bgDark h3, 
.bgDark p {
  color: var(--white);
}

@media (max-width: 768px) {
  .section {
    padding: 4rem 0;
  }
}
